.pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pagination button {
  background-color: var(--dimension-name);
  color: var(--text-color);
  padding: 8px 16px;
  border: none;
  margin-right: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.3);
}

.pagination button.active {
  background-color: var(--bg-card);
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 255, 0, 0.5);
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
}

.pagination__previous {
  border-radius: 10px 0 0px 10px;
}

.pagination__Next {
  border-radius: 0 10px 10px 0;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .pagination button {
    padding: 6px 12px; /* Ajustar el tamaño de los botones para dispositivos móviles */
    font-size: 14px; /* Ajustar el tamaño de la fuente para dispositivos móviles */
  }
}
