.resident-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}



/* ==== header ==== */

.header {
  background-image: url(../public/hederrickandmorty.jpg);
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .header {
    background-image: url(../public/hederrickandmorty.jpg); /* Ruta de la imagen de fondo para dispositivos móviles */
    height: 100px; /* Altura reducida para dispositivos móviles */
    background-size: cover;
  }
}
