@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* --- Reset --- */

:root {
  /* Header height  */
  --header-height: 56px;
  /* Colors  */
  --text-color: white;
  --dimension-name: #6DA826;
  --bg-card: #072226;
  --background-primary: #05292E;
  --color-dead: #B94343;
  --color-alive: #4AB648
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--background-primary);
}

h1,
h2,
h3,
p,
ul,
hr {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

input {
  font-family: inherit;
  border: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}


/* Barras de desplazamiento en Chrome y Safari */
/* Barra vertical */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dimension-name);
}

/* Barra horizontal */
::-webkit-scrollbar-horizontal {
  height: 10px;
}

::-webkit-scrollbar-track-horizontal {
  background-color: var(--background-primary);
}

::-webkit-scrollbar-thumb-horizontal {
  background-color: var(--dimension-name);
}
