@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* --- Reset --- */

:root {
  /* Header height  */
  --header-height: 56px;
  /* Colors  */
  --text-color: white;
  --dimension-name: #6DA826;
  --bg-card: #072226;
  --background-primary: #05292E;
  --color-dead: #B94343;
  --color-alive: #4AB648
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--background-primary);
}

h1,
h2,
h3,
p,
ul,
hr {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

input {
  font-family: inherit;
  border: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/* ===== Loader ===== */

.loader {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  border-radius: 50%;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle-1 {
  width: 300px;
  height: 300px;
  background: linear-gradient(
    109.8deg,
    rgba(52, 248, 35, 0.1855) 0%,
    rgba(68, 253, 38, 0.196) 100%
  );
  animation-name: circle-1-animation;
}

.circle-3 {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    109.8deg,
    rgba(52, 248, 35, 0.265) 0%,
    rgba(68, 253, 38, 0.28) 100%
  );
  animation-name: circle-3-animation;
}

.circle-4 {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    109.8deg,
    rgba(52, 248, 35, 0.265) 0%,
    rgba(68, 253, 38, 0.28) 100%
  );
  animation-name: circle-4-animation;
}

@keyframes circle-1-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes circle-2-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes circle-3-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes circle-4-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
